body{
  background:#0f172a;
  color:#e5e7eb;
  font-family:'Segoe UI',sans-serif;
}

#hero{
  height:100vh;
  background:linear-gradient(135deg,#1e3a8a,#0f172a);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

#hero h1{
  font-size:3rem;
  font-weight:700;
}

.icon{
  font-size:2.5rem;
  color:#38bdf8;
  margin-bottom:10px;
}

.card{
  background:#1e293b;
  border-radius:15px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

input,select{
  background:#020617 !important;
  color:white !important;
  border:none !important;
}

.concept{
  background:#020617;
  padding:12px;
  border-left:4px solid #38bdf8;
  border-radius:8px;
  margin-top:10px;
}

footer{
  background:#020617;
  color:#9ca3af;
}
