body{margin:0;font-family:Segoe UI;background:#0f172a;color:#fff}
header{text-align:center;padding:15px;background:#1e293b}
.container{max-width:900px;margin:20px auto;padding:20px;background:#1e293b;border-radius:10px}
input,select,button{width:100%;padding:10px;margin:6px 0;border-radius:6px;border:none}
button{background:#38bdf8;color:#000;font-weight:bold}
#welcomePageContainer{height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center}
#mainContent,#dashboard,#quizSection{display:none}
table{width:100%;margin-top:10px;border-collapse:collapse}
td,th{border:1px solid #334155;padding:6px;text-align:center}
#progressBar{background:#334155;border-radius:10px;margin-top:10px}
#progressFill{background:#22c55e;height:20px;border-radius:10px;text-align:center}
